:root {
  --hf-bg-color: #e0e0e0;
  --hf-text: #333333;
  --bg: #f5f5f5;
  --td-first: #333333;
  --color: #000000;
  --fg-li: #999966;
  --link: #3e94b8;
  --footer-link: #3e94b8;
}

@media (prefers-color-scheme: dark) {
  :root {
    --hf-bg-color: #333333;
    --hf-text: #f5f5f5;
    --bg: #1a1a1a;
    --td-first: #f5f5f5;
    --color: #eeeeee;
    --fg-li: #cccccc;
    --link: #3e94b8;
    --footer-link: #3e94b8;
  }
}

body {
  font-family: system-ui, sans-serif;
  color: var(--color);
  background-color: var(--bg);
  font-size: 13px;
  overflow: hidden;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  margin: 0;
  border: solid 1px var(--hf-bg-color);
}
table {
  width: 100%;
  border-collapse: collapse;
}
.table-info {
  border-top: 1px solid;
}

table td:first-child {
  color: var(--td-first);
  width: 100px;
  font-weight: bold;
  padding-left: 8px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 12px;
}
li {
  color: var(--fg-li);
  display: flex;
  align-items: flex-start;
  padding: 3px 5px;
}
li:hover {
  background-color: rgba(0, 105, 255, 0.1);
}
li > a,
li > span {
  flex: 1;
  padding: 0 5px;
}
li span {
  color: var(--color);
}
li a[href] {
  color: var(--link);
  text-decoration: none;
}

li div[data-type=color] {
  border: solid 1px var(--color);
  display: inline-block;
  width: 24px;
  height: 15px;
}
p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#complex {
  color: var(--color) !important;
}
#content {
  overflow: auto;
  margin: 0;
}

header {
  background-color: var(--hf-bg-color);
  color: var(--hf-text);
  padding: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

footer {
  display: flex;
  justify-content: start;
  background-color: var(--hf-bg-color);
  color: var(--hf-text);
  gap: 5px;
  padding: 0 10px;
}

footer a{
  color: var(--footer-link);
}
footer * {
  margin: 10px 0;
}
footer:empty {
  display: none;
}

.hidden {
  display: none;
}
